*{padding: 0;margin: 0;}
html,body,.wrapper{width: 100%;height: 100%;overflow: hidden;}
.wrapper{
	background: #FFFFFF ;
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: .96rem;
}
.header-aside{
	width: .3rem;
}
.header-text{
	font-size: .36rem;
	color: #000000 ;
}
.main{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: calc(100% - 2.1rem);
	
}
.main-lift{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 2rem;
	overflow-x: hidden;
	overflow-y: scroll;
	border-right: 1px solid #CACACA ;

}
.lift-text{
	font-size: .32rem;
	color: #2C2C2C ; 
	margin-bottom: .6rem;	
}
.selection{
	font-size: .32rem;
	color: #FFFFFF ;
	width: 1.6rem;
	height: .5rem;
	background: #F55353 ; 
	border-radius: .32rem ;	
	text-align: center;
	line-height: .5rem;
}
.main-right{
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	flex: 1;
}
.right-box{
	height: 3rem;
	padding: 0 .3rem;
}
.right-top{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: .8rem;
}
.right-text{
	font-size: .28rem;
	color: #272727 ;
	font-weight: 600;
}
.right-bottom{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.right-status{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: .3rem;
}
.right-status img{
	height: 1.3rem ;
	width: 1.3rem ;
	margin-bottom: .2rem;
}
.right-news{
	font-size: .24rem;
	color: #272727 ;
}
.bottom{
	height: 1.1rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.bottom-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.bottom-box img{
	height: .4rem;
	margin-bottom: .08rem;
}
.bottom-text{
	font-size: .2rem;
	color: #F55353 ;
}
.bottom-news{
	font-size: .2rem;
	color: #4A4A4A  ;
}






