* {
	padding: 0;
	margin: 0;
}
.dele{height: .4rem;margin-left: .1rem;}
html,
body,
.wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.wrapper {
	background: #FFFFFF;
}

.header {
	height: .96rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #DCDCDC;
}

.header-aside {
	width: .6rem;
	height: .96rem;
    line-height: .96rem;
}

.header-text {
	font-size: .36rem;
	color: #232323;
}

.header-news {
	font-size: .28rem;
	color: #232323;
}

.main {
	height: calc(100% - .7rem);
	overflow-x: hidden;
	overflow-y: scroll;
	background:#f4f4f4
}

.main-box {
	height: calc(100% - 1.2rem);
	overflow-x: hidden;
	overflow-y: scroll;
}

.main-one {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 2.2rem;
	padding: 0 .3rem;
}

.one-lift {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: .18rem;
}

.one-lift img {
	height: .4rem;
}

.one-content {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: .36rem;
	height: 1.6rem;
	width: 1.6rem;
	overflow: hidden;
}

.one-content img {
	width: 100%;
	border-radius: .12rem;
}

.one-right {
	height: 1.6rem;
	flex: 1;
}

.one-top {
	font-size: .28rem;
	color: #232323;
	margin-bottom: .5rem;
}
.one-top02 {
	font-size: .2rem;
	color: #999999;
	margin-bottom: .1rem;
}
.one-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.one-text {
	font-size: .28rem;
	color: #d86fed;
	flex: 1;
}

.one-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1.5rem;
}

.one-news {
	background: #F5F5F5;
	border-radius: .08rem;
	width: .36rem;
	height: .36rem;
	font-size: .28rem;
	color: #686868;
	text-align: center;
	line-height: .36rem;
}

.one-word {
	font-size: .28rem;
	color: #212121;
	border: 0;
	width: .3rem;
	text-align: center;
}

.main-two {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 1rem;
	border-top: 1px solid #C8C8C8;
	border-bottom: 1px solid #C8C8C8;
	background: #FFFFFF;
}
.shop-top{display: flex;align-items: center;border-bottom: 1px solid ghostwhite;}
.shop-img{width: .6rem;height: .6rem;overflow: hidden;margin: .2rem;display: flex;align-items: center;}
.shop-img img{width: 100%;}
.shop-top h2{font-size: .3rem;}
.two-lift {
	display: flex;
	align-items: center;
	margin-left: .34rem;
	flex: 1;
}
.shop-box{background: #FFFFFF;margin-bottom: .25rem;}
.two-lift img {
	height: .4rem;
	margin-right: .16rem;
}

.two-text {
	font-size: .28rem;
	color: #232323;
}

.two-content {
	margin-right: .3rem;
}

.content-box {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.content-text {
	font-size: .28rem;
	color: #232323;
}

.content-news {
	font-size: .28rem;
	color: #d86fed;
	margin-left: .12rem;
}

.content-word {
	font-size: .28rem;
	color: #7F7F7F;
	text-align: right;
}

.two-right {
	height: 1rem;
	width: 2.2rem;
	background: #d86fed;
	line-height: 1rem;
	text-align: center;
}

.two-news {
	font-size: .32rem;
	color: #FFFFFF;
}

.bottom {
	height: 1.1rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.bottom-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bottom-box img {
	height: .4rem;
	margin-bottom: .08rem;
}

.bottom-news {
	font-size: .2rem;
	color: #4A4A4A;
}

.bottom-text {
	font-size: .2rem;
	color: #d86fed;
}

.box {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: .1rem;
	position: relative;
	border: 1px solid #d86fed;
	border-radius: 50%;
	overflow: hidden;
}

.box input {
	opacity: 0;
	top: 0;
	position: absolute;
	left: 0;
	width: 15px;
	height: 16px;
	z-index: 999;
}

.box span {
	position: absolute;
	top: 3px;
	left: 3px;
	background: #d86fed;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

input[type="checkbox"]+span {
	opacity: 0;
}

input[type="checkbox"]:checked+span {
	opacity: 1!important;
}
.mui-action-back{display: flex;align-items: center;}
.mui-action-back img{height: .35rem;}
.header-aside{padding: 0 .2rem;}
