*{padding: 0;margin: 0;}
html,body,.wrapper{width: 100%;height: 100%;}
.wrapper{
	background: #FFFFFF ;
}
.header{
	height: .96rem;
	background: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 .3rem ;
	margin-bottom: .1rem;
}
.header-aside{
	width: .3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-aside img{
	height: .36rem;
}
.header-text{
	font-size: .36rem;
	color: #141414 ;
}
.main-box{
	height: 4.3rem;
	margin: 1.1rem;
	box-shadow: 8px 8px 18px 5px lightgray;	
	border-top-left-radius: .2rem;
	border-top-right-radius: .2rem;
	overflow: hidden;
}
.box-top{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1.1rem;
	background: #F65959 ;
}
.box-text{
	font-size: .36rem;
	color: #FFFFFF ;
}
.box-bottom{
	height: 3.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFFFFF;
}
.box-news{
	font-size: .72rem;
	color: #F65959 ;
}



