*{padding: 0;margin: 0;}
html,body,.wrapper{width: 100%;height: 100%;}
.wrapper{
	background: #F4F7FA ;
}
.header{
	height: .96rem;
	background: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 .3rem ;
	margin-bottom: .1rem;
}
.header-aside{
	width: .3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-aside img{
	height: .36rem;
}
.header-text{
	font-size: .36rem;
	color: #141414 ;
}
.main-box{
	border-radius: .1rem;
	background: #FFFFFF;
}
.input-text{
	width: 6.8rem;margin: 0 auto;border-bottom: 1px solid ghostwhite;height: .8rem;display: flex;align-items: center;font-size: .2rem;
}
.input-text img{height: .25rem;margin: 0 .2rem 0 .1rem;}
.input-text input{border: 0;height: .8rem;color: #929292;flex: 1;text-indent: .3rem;}
.title{font-size: .25rem;margin: .2rem .3rem;padding-top: .2rem;}
.sf{margin: .3rem auto;width: 3rem;display: block;}
.add{height: 1.5rem;margin-left: .3rem;}
.btn{background: #F65959;width: 6rem;height: .9rem;border-radius: .1rem;color: #FFFFFF;font-size: .3rem;margin: .2rem auto;display: flex;align-items: center;justify-content: center;position: relative;top: 1rem;}
#location{position: relative;top: -1.2rem;margin: 0;width: 100%;}
.layui{position: fixed;top: 0;left: 0;background: rgba(0,0,0,.5);display: flex;align-items: flex-end;width: 100%;height: 100%;z-index: 999;}
.layui-inner{background: #FFFFFF;border-radius: .15rem;margin: .2rem;overflow-y: scroll;width: calc(100% - .4rem);}
.layui-tab{height: .8rem;line-height: .8rem;text-align: center;border-bottom: 1px solid gainsboro;font-size: .3rem;}
.shi{width: calc(100% - .4rem);background: #FFFFFF;height: .8rem;margin: .2rem;border: 0;}
