*{padding: 0;margin: 0;}
html,body,.wrapper{width: 100%;height: 100%;}
.wrapper{
	background: #F4F7FA ;
}
.header{
	height: .96rem;
	background: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 .3rem ;
	margin-bottom: .1rem;
}
.header-aside{
	width: .5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.header-aside img{
	height: .36rem;
}
.header-text{
	font-size: .36rem;
	color: #141414 ;
}
.main-one{
	background: #FFFFFF;
	padding: 0 .3rem;
}
.one-top{
	height: 1rem;
	font-size: .32rem;
	color: #272727 ;
	display: flex;
	align-items: center;
}
.one-bottom{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 1.3rem;
}
.one-text{
	font-size: .6rem;
	color: #272727 ;
	margin-right: .16rem;
}
input{
	font-size: .8rem;
	color: #272727 ;
	width: 5.4rem;
	height: 1.2rem;
	border: 0;
	border-bottom: 1px solid #333333;
}
.one-bottom img{
	height: .4rem;
	margin-left: .1rem;
}
.one-box{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .3rem 0;
	margin-bottom: .2rem;
}
.one-news{
	font-size: .8rem;
}
.one-word{
	font-size: .28rem;
	color: #5380B1 ;
}
.main-two{
	height: .8rem;
	display: flex;
	align-items: center;
	font-size: .28rem;
	color: #333333 ;
	padding: 0 .3rem;
}
.main-three{
	background: #FFFFFF;
	padding: 0 .3rem;
}
.three-box{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: .9rem;
}
.three-text{
	font-size: .28rem;
	color: #333333 ;
}
.three-box img{
	height: .4rem;
}
.main-four{
	display: flex;
	align-items: center;
	height: .8rem;
	padding: 0 .3rem ;
	font-size: .3rem;
	color: #CCCCCC ;
}
.bottom{
	height: 1rem;
	background: #F65959 ;
	width: 6rem;
	margin: 0 .72rem;
	position: fixed;
	bottom: 0;
	border-radius: .6rem;
	margin-bottom: .8rem;
}
.bottom-text{
	font-size: .32rem;
	color: #FFFFFF ;
	text-align: center;
	line-height: 1rem;
}


