*{padding: 0;margin: 0;}
html,body,.wrapper{width: 100%;height: 100%;}
.wrapper{
	background: #F4F7FA ;
}
.header{
	height: 2.7rem;
	background: #F55454 ;
	padding: 0 .3rem;
}
.top{
	background: #F55454 ;
	display: flex;
	color: #FFFFFF;
	font-size: .24rem;
	justify-content: space-around;
	padding-bottom: 1.2rem;
}
.top-tab{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.header-top{
	height: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.header-top img{
	height: .4rem;
}
.header-bottom{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.header-lift{
	width: 1rem;
	height: 1rem;
	overflow: hidden;
	margin-right: .3rem;
}
.header-lift img{
	width: 100%;
	border-radius: 2rem;
}
.header-right{
	height: 1rem;
}
.header-text{
	font-size: .36rem;
	color: #FFFFFF ;
	margin-bottom: .08rem;
}
.main{
	height: calc(100% - 1.1rem);
	overflow-x: hidden;
	overflow-y: scroll;
}
.header-news{
	font-size: .28rem;
	color: #FFFFFF ;
}
.main-one{
	height: 2.7rem;
	background: #FFFFFF;
	margin: -.9rem .3rem .2rem .3rem;
	border-radius: .12rem;
	padding: 0 .3rem ;
}
.one-top{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 1px solid #D8D8D8 ;
	height: .9rem;
}
.one-text{
	font-size: .28rem;
	color: #2B2B2B ;
	flex: 1;
}
.one-news{
	font-size: .24rem;
	color: #9B9B9B ;
}
.one-top img{
	height: .3rem;
	margin-left: .14rem;
}
.one-bottom{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 1.8rem;
}
.one-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.one-box img{
	height: .4rem;
	margin-bottom: .2rem;
}
.one-word{
	font-size: .24rem;
	color: #9B9B9B ;
}
.main-two{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 1.6rem;
	background: #FFFFFF;
	margin: 0 .3rem .2rem .3rem;
	border-radius: .12rem;
}
.two-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.two-box img{
	height: .5rem;
	margin-bottom: .24rem;
}
.two-text{
	font-size: .24rem;
	color: #2B2B2B ;
}
.main-three{
	background: #FFFFFF;
	margin: 0 .3rem .2rem .3rem;
	border-radius: .12rem;
	padding: 0 .3rem;
}
.three-box{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 1rem;
	text-decoration: none;
}
.three-text{
	font-size: .28rem;
	color: #2B2B2B ;
}
.three-box img{
	height: .2rem;
}
.three-news{
	font-size: .28rem;
	color: #929292 ;
}
.bottom{
	height: 1.1rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #FFFFFF;
}
.bottom{
	height: 1.1rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.bottom-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.bottom-box img{
	height: .4rem;
	margin-bottom: .08rem;
}
.bottom-text{
	font-size: .2rem;
	color: #F55353 ;
}
.bottom-news{
	font-size: .2rem;
	color: #4A4A4A  ;
}






