<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title></title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/renzhengzhongxin.css" />
	</head>

	<body>
		<div class="wrapper">
			<div class="wrapper">
				<div class="header">
					<div class="header-cebian mui-action-back" >
						<img src="./img/youjian.png" />
					</div>
					<div class="header-text">认证中心</div>
					<div class="header-cebian"></div>
				</div>
				<div class="main">
					<!--<div class="main-one">
						<input type="text" placeholder="真实姓名" v-model="msdName" />
					</div>
					<div class="main-one">
						<input type="text" placeholder="身份证号码" v-model="msdCardId" />
					</div>-->
					<div class="main-one">
						<input type="text" placeholder="支付宝实名认证姓名(填错会影响提现)" v-model="msdUwAliBindingName" />
					</div>
					<div class="main-one">
						<input type="text" placeholder="支付宝账号" v-model="msdUwAliBindingCode" />
					</div>
					<!--<div class="main-one">
					<input type="text" placeholder="微信实名认证姓名" v-model="msdUwWechatBindingName"/>
				</div>
				<div class="main-one">
					<input type="text" placeholder="微信账号" v-model="msdUwWechatBindingCode"/>
				</div>-->
					<!--<div class="main-two">
						<div class="two-text">身份证正面</div>
						<div class="two-box">
							<img src="../../static/shenfen.png" />
							<img src="../../static/zhaopian.png" @click="upload('sz')" id="sz" />
						</div>
					</div>
					<div class="main-two">
						<div class="two-text">身份证反面</div>
						<div class="two-box">
							<img src="../../static/shenfen.png" />
							<img src="../../static/zhaopian.png" @click="upload('sf')" id="sf" />
						</div>
					</div>-->
					<div class="bottom" @click="myajax()">
						<div class="bottom-text">确认提交</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/URL.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/mui.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		new Vue({
			el: '.wrapper',
			data: {
				files: [],
				uploadtarget: '',
				msdName: '',
				msdCardId: '',
				msdUwWechatBindingName: '',
				msdUwWechatBindingCode: '',
				msdUwAliBindingName: '',
				msdUwAliBindingCode: ''
			},
			methods: {
				back: function() {
					this.$router.back()
				},
				myajax: function() {
					var that = this
					//				提交认证
					if(that.msdUwAliBindingName == '' || that.msdUwAliBindingCode == '') {
						alert('资料填写不完整')
						return false;
					}
					$.ajax({
						type: 'post',
						url: myurl + '/user/updateSmUser',
						data: {
							smUserId: localStorage.getItem('id'),
							smUsAliCode: that.msdUwAliBindingCode,
							smUsAliName: that.msdUwAliBindingName,
						},
						success: function(res) {
							if(res.status == 200) {
								mui.back()
							} else {
								alert(res.msg)
							}
						},
						error: function(res) {
							alert('网络连接失败，请检查网络后再试！')
						}
					})
				},
				upload: function(target) {
					var that = this
					that.files = []
					that.uploadtarget = target
					var btnArray = [{
						title: "照相机"
					}, {
						title: "相册"
					}]; //选择按钮  1 2 3
					plus.nativeUI.actionSheet({
						title: "请选择",
						cancel: "取消",
						buttons: btnArray
					}, function(e) {
						var index = e.index;
						switch(index) {
							case 1:
								that.camera();
								break;
							case 2:
								that.album();
								break;
						}
					});
				},
				camera: function() {
					//				相机
					var that = this
					var cmr = plus.camera.getCamera();
					cmr.captureImage(function(p) {
						//成功
						plus.io.resolveLocalFileSystemURL(p, function(entry) {
							var img_name = entry.name;
							var img_path = entry.toLocalURL();
							//						that.upsrc = img_path
							that.upimg = !that.upimg
							that.upload_img(img_path)
						}, function(e) {
							alert("读取拍照文件错误：" + e.message);
						});

					}, function(e) {
						alert("失败：" + e.message);
					}, {
						filename: '_doc/camera/',
						index: 1
					});
				},
				album: function() {
					//				相册
					var that = this
					plus.gallery.pick(function(path) {
						//					that.upsrc = path
						that.upimg = !that.upimg
						that.upload_img(path);
					}, function(e) {
						alert("取消选择图片");
					}, {
						filter: "image"
					});
				},
				upload_img: function(p) {
					var thats = this
					var img = new Image();
					img.src = p; // 传过来的图片路径在这里用。
					img.onload = function() {
						var that = this;
						//生成比例 
						var w = that.width,
							h = that.height,
							scale = w / h;
						w = 480 || w; //480  你想压缩到多大，改这里
						h = w / scale;

						//生成canvas
						var canvas = document.createElement('canvas');
						var ctx = canvas.getContext('2d');
						$(canvas).attr({
							width: w,
							height: h
						});
						ctx.drawImage(that, 0, 0, w, h);
						$('#' + thats.uploadtarget + '').attr('src', canvas.toDataURL('image/jpeg', 1 || 0.8))
						$.ajax({
							type: 'post',
							url: thats.myurl + '/user/inserUserImg',
							data: {
								imgStr: canvas.toDataURL('image/jpeg', 1 || 0.8)
							},
							success: function(res) {
								if(res.status == 200) {
									$('#' + thats.uploadtarget + '').attr('imgsrc', res.data)
								} else {
									alert(res.msg)
								}
							},
							error: function(res) {
								alert('网络连接失败，请检查网络后再试！')
							}
						})
					}
				}
			},
			mounted:function(){
				
			}
		})
	</script>

</html>