<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title></title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/shenqing.css" />
		<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/framework7/1.6.5/css/framework7.ios.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/framework7/1.6.5/css/framework7.ios.colors.min.css" rel="stylesheet">
	</head>
	<style type="text/css">
		.main{
			height: calc(100% - .96rem);
			overflow-y: scroll;
		}
	</style>
	<body>
		<div class="wrapper">
			<div class="header">
				<div class="header-aside mui-action-back">
					<img src="img/youjian.png" />
				</div>
				<div class="header-text">申请分销商</div>
				<div class="header-aside"></div>
			</div>
			<div class="main">
				<div id="wrapper">
				<div class="main-box">
					<div class="input-text">
						<input type="text" placeholder="店铺名称" v-model="smMerchantName" />
					</div>
					<div class="input-text">
						<input type="text" placeholder="申请人QQ号码" v-model="smAmQq" />
					</div>
					<div class="input-text" @click="layuichange">
						<input type="text" placeholder="申请分销商等级" readonly="readonly" v-model="smMmName" />
						<span>请选择</span>
						<img src="img/you-hui.png" />
					</div>

					<div class="title">
						上传店铺门招
					</div>
					<img src="img/addimg.png" class="add" @click="upload(0)"/>
				</div>
				<div class="main-box">
					<div class="title">
						上传营业执照
					</div>
					<img src="img/yz.png" class="sf"  @click="upload(1)"/>
				</div>
				<div class="main-box">
					<div class="title">
						填写所在地区
					</div>
					<input type="text" placeholder="请填写您所在市场" class="shi"/>
				</div>
				<div class="layui" v-show="layuiboo" @click="layuichange">
					<div class="layui-inner">
						<div class="layui-tab" v-for="val in shopdata" @click="havedengji(val.smMerchantMemberId,val.smMmName)">
							<!-- {{val.smMmName}} -->分销商
						</div>
					</div>
				</div>
				<div class="btn" @click="gisubmit">
					提交申请
				</div>
				</div>
				<div class="input-text" style="margin: 0;width: 100%;">
					<input type="text" placeholder="商户所在地" id="location" />
				</div>
			</div>
			

		</div>
	</body>
	<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdn.bootcss.com/framework7/1.6.5/js/framework7.min.js"></script>
	<script src="js/regionsObject2.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/cityPicker.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/mui.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/URL.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript">
		var myvue=new Vue({
			el: '#wrapper',
			data: {
				shopdata: [],
				layuiboo: false,
				smMerchantMemberId: '',
				smMmName: '',
				smAmQq: '',
				smAmShopLogo: '',
				smMerchantName: '',
				smAmBusinessLicenesImg:''
			},
			methods: {
				gisubmit: function() {
					var that = this
					//					提交申请
					if(that.smAmQq==''){
						alert('qq不能为空')
						return false
					}
					if(that.smAmShopLogo==''){
						alert('店铺门招不能为空')
						return false
					}
					if(that.smAmBusinessLicenesImg==''){
						alert('营业执照不能为空')
						return false
					}
					if(that.smMerchantName==''){
						alert('店铺名称不能为空')
						return false
					}
					$.ajax({
						type: "post",
						url: myurl + "/user/inserSmApplyMember",
						async: true,
						dataType: 'json',
						data: {
							smMerchantMemberId: that.smMerchantMemberId,
							smShopTypeId: localStorage.getItem('smShopTypeId'),
							smUserId: localStorage.getItem('id'),
							smAmQq: that.smAmQq,
							smAmAddress: $('#location').val() + $('.shi').val(),
							smAmShopLogo: that.smAmShopLogo,
							smAmBusinessLicenesImg: that.smAmBusinessLicenesImg,
							smAmCreateName: localStorage.getItem('id'),
							smMerchantId: localStorage.getItem('storeinfoid'),
							smMerchantName: that.smMerchantName
						},
						success: function(res) {
							if(res.data == 1) {
								alert('已为您提交申请,分销商购买商品物流费用自理！')
								mui.back()
							} else {
								alert(res.msg)
							}
						},
						error: function(err) {
							alert("网络连接失败，请稍后重试")
						}
					});
				},
				layuichange: function() {
					this.layuiboo = !this.layuiboo
				},
				havedengji: function(id, name) {
					this.smMerchantMemberId = id
					// this.smMmName = name
					this.smMmName = '分销商'
					this.layuichange
				},
				myajax: function() {
					var that = this
					//					查询商户的会员类型
					$.ajax({
						type: "post",
						url: myurl + "/user/selectSmMerchantMember",
						async: true,
						dataType: 'json',
						data: {
							smMerchantId: localStorage.getItem('storeinfoid')
						},
						success: function(res) {
							if(res.status == 200) {
								that.shopdata = res.data
								if(res.data.length==0){
									alert('该商户还未开通专属会员！')
									mui.back()
								}
							} else {
								alert(res.msg)
							}
						},
						error: function(err) {
							alert("网络连接失败，请稍后重试")
						}
					});
				}
			},
			mounted: function() {
				this.myajax()
			}
		})
		var target=''
		function upload(id) {
			target=id
			var btnArray = [{
				title: "照相机"
			}, {
				title: "相册"
			}]; //选择按钮  1 2 3
			plus.nativeUI.actionSheet({
				title: "请选择",
				cancel: "取消",
				buttons: btnArray
			}, function(e) {
				var index = e.index;
				switch(index) {
					case 1:
						camera();
						break;
					case 2:
						album();
						break;
				}
			});
		}

		function camera() {
			//				相机
			var that = this
			var cmr = plus.camera.getCamera();
			cmr.captureImage(function(p) {
				//成功
				plus.io.resolveLocalFileSystemURL(p, function(entry) {
					var img_name = entry.name;
					var img_path = entry.toLocalURL();
					upload_img(img_path)
				}, function(e) {
					alert("读取拍照文件错误：" + e.message);
				});

			}, function(e) {
				alert("失败：" + e.message);
			}, {
				filename: '_doc/camera/',
				index: 1
			});
		}

		function album() {
			//				相册
			var that = this
			plus.gallery.pick(function(path) {
				upload_img(path);
			}, function(e) {
				alert("取消选择图片");
			}, {
				filter: "image"
			});
		}

		function upload_img(p) {
			var thats = this
			var img = new Image();
			img.src = p; // 传过来的图片路径在这里用。
			img.onload = function() {
				var that = this;
				//生成比例 
				var w = that.width,
					h = that.height,
					scale = w / h;
				w = 480 || w; //480  你想压缩到多大，改这里
				h = w / scale;

				//生成canvas
				var canvas = document.createElement('canvas');
				var ctx = canvas.getContext('2d');
				$(canvas).attr({
					width: w,
					height: h
				});
				ctx.drawImage(that, 0, 0, w, h);
				$.ajax({
					type: "post",
					url: myurl + "/user/inserSmApplyMemberImage",
					async: true,
					dataType: 'json',
					data: {
						imgStr: canvas.toDataURL('image/jpeg', 1 || 0.8)
					},
					success: function(res) {
						if(res.status == 200) {
							console.log(target)
							if(target==0){
								$('.add').attr('src', myurl +res.data)
								myvue.smAmShopLogo=res.data
							}else{
								$('.sf').attr('src', myurl +res.data)
								myvue.smAmBusinessLicenesImg=res.data
							}
						} else {
							alert(res.data)
						}
					},
					error: function(err) {
						alert("网络连接失败，请稍后重试")
					}
				});
			}
		}
	</script>

</html>